%h3 Events
%img{ src: 'img/raw_IMG_7013_klein.jpg', alt: 'c3voc events' }

%ul.tile.clearfix
  -# camp 2011
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          Chaos communication camp 2011
      %a{ href: "http://media.ccc.de/browse/conferences/camp2011/", target:"_blank" } recordings
    %img{ src: "img/camp2011.jpg", alt:"Chaos Communication Camp 2011" }
  -# 30c3
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          30C3
      %a{ href: "http://media.ccc.de/browse/congress/2013/index.html", target:"_blank", class: "viewProject" } recordings
    %img{ src: "img/30c3.jpg", alt:"30C3" }
  -# froscon
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          FrOSCon
      %a{ href: "http://www.froscon.de", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "http://media.ccc.de/browse/conferences/froscon/index.html", target: "_blank"} recordings
      %br
      %a{ href: "https://youtube.com/user/froscon", target: "_blank"} youtube
    %img{ src: "img/froscon.jpg", alt:"FrOSCon" }
  -# ep14
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          EuroPython 2014
      %a{ href: "http://ep2014.europython.eu", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "https://www.youtube.com/user/europython2014", target: "_blank"} youtube
    %img{ src: "img/ep14.jpg", alt:"EuroPython" }
  -# mrmcd
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          MRMCD
      %a{ href: "//mrmcd.net/", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "//media.ccc.de/browse/conferences/mrmcd/", target: "_blank"} recordings
    %img{ src: "img/mrmcd2013.jpg", alt:"MRMCD" }
  -# hackover
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          Hackover
      %a{ href: "http://www.hackover.de", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "https://media.ccc.de/browse/conferences/hackover/index.html", target: "_blank"} recordings
    %img{ src: "img/hackover_banner_6.jpg", alt:"Hackover" }
  -# FIfFKon
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          FIfFKon
      %a{ href: "https://fiffkon.de", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "https://media.ccc.de/browse/conferences/fiffkon/2014/index.html", target: "_blank"} recordings
      %br
      %a{ href: "https://www.youtube.com/channel/UCB-S5woHziQT-kcNRvIrs3A", target: "_blank"} youtube
    %img{ src: "img/fiffkon14.jpg", alt:"FIfFKon" }
  -# 31c3
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          31C3
      %a{ href: "https://events.ccc.de/congress/2014/wiki/Main_Page", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "https://media.ccc.de/browse/congress/2014/index.html", target: "_blank"} recordings
      %br
      %a{ href: "https://www.youtube.com/user/mediacccde/videos", target: "_blank"} youtube
    %img{ src: "img/304-31c3.jpg", alt:"31C3" }
  -# fossgis
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          FOSSGIS
      %a{ href: "https://www.fossgis.de/", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "https://www.youtube.com/playlist?list=PLTli5-lbeoiYK7fN_m7yeGV7-lARQ0GLE", target: "_blank"} youtube 2014
      %br
      %a{ href: "https://www.youtube.com/playlist?list=PLTli5-lbeoiYopkK5ixkgt1Uzh_0v6Z6T", target: "_blank"} youtube 2015
    %img{ src: "img/IMG_0617_klein.JPG", alt:"FOSSGIS" }
  -# eh15
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          Easterhegg 2015
      %a{ href: "http://eh15.easterhegg.eu", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "http://media.ccc.de/browse/conferences/eh2014/index.html", target: "_blank"} recordings 2014
      %br
      %a{ href: "http://media.ccc.de/browse/conferences/eh2015/index.html", target: "_blank"} recordings 2015
    %img{ src: "img/eh15_klein.jpg", alt:"Easterhegg 2015" }
  -# GPN
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          Gulaschprogrammiernacht
      %a{ href: "http://gulas.ch/", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "https://media.ccc.de/browse/conferences/gpn/gpn14/index.html", target: "_blank"} recordings 2014
      %br
      %a{ href: "https://media.ccc.de/browse/conferences/gpn/gpn15/index.html", target: "_blank"} recordings 2015
    %img{ src: "img/gpn15_klein.jpg", alt:"GPN" }
    -# PyData Berlin
    %li.event
      .captions
        %p.caption-inner
          %h4.title
            PyData Berlin
        %a{ href: "http://pydata.org/berlin2015/", target:"_blank", class: "viewProject" } website
        %br
        %a{ href: "https://www.youtube.com/user/PyDataTV/videos", target: "_blank"} recordings 2014
        %br
        %a{ href: "https://www.youtube.com/playlist?list=PLGVZCDnMOq0pmTLkkMe4DIqLIOCMr9TMyl", target: "_blank"} recordings 2015
      %img{ src: "img/pydata15_klein.jpg", alt:"PyData Berlin" }

  %li
    %figure
      %a{ href: 'https://c3voc.de/eventkalender' }
        %i.fa.fa-arrow-circle-o-right.fa-4x{ name: 'Upcoming events'}
