%h3 Events
%img{ src: 'img/raw_IMG_7013_klein.jpg' }

%ul.tile.clearfix
  -# camp 2011
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          Chaos communication camp 2011
      %a{ href: "http://media.ccc.de/browse/conferences/camp2011/", target:"_blank" } recordings
    %img{ src: "img/camp2011.jpg", alt:"Chaos Communication Camp 2011" }
  -# 30c3
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          30C3
      %a{ href: "http://media.ccc.de/browse/congress/2013/index.html", target:"_blank", class: "viewProject" } recordings
    %img{ src: "img/30c3.jpg", alt:"30C3" }

  -# froscon
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          FrOSCon
      %a{ href: "http://www.froscon.de", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "http://media.ccc.de/browse/conferences/froscon/index.html", target: "_blank"} recordings
      %br
      %a{ href: "https://youtube.com/user/froscon", target: "_blank"} youtube
    %img{ src: "img/froscon.jpg", alt:"FrOSCon" }
  -# ep14
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          EuroPython 2014
      %a{ href: "http://ep2014.europython.eu", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "https://www.youtube.com/user/europython2014", target: "_blank"} youtube
    %img{ src: "img/ep14.jpg", alt:"EuroPython" }
  -# hackover
  %li.event
    .captions
      %p.caption-inner
        %h4.title
          Hackover
      %a{ href: "http://www.hackover.de", target:"_blank", class: "viewProject" } website
      %br
      %a{ href: "https://media.ccc.de/browse/conferences/hackover/2013/index.html", target: "_blank"} recordings
    %img{ src: "img/hackover_banner_6.jpg", alt:"Hackover" }

  %li
    %figure
      %a{ href: 'https://c3voc.de/eventkalender' }
        %i.fa.fa-arrow-circle-o-right.fa-4x{ name: 'Upcoming events'}
