%nav.navbar
  %ul
    %li.page-scroll
      %i{ class: 'fa fa-caret-square-o-right'}
      %a{ href: '#about' }
        About
    %li.page-scroll
      %i.fa.fa-video-camera
      %a{ href: '#events' } Events
    %li.page-scroll
      %i.fa.fa-envelope
      %a{ href: '#contact' } Contact
