-# encoding: utf-8
!!!5
%html
  %head
    %meta{ charset: 'utf-8', 'http-equiv' => 'Content-Type'  }

    %title CCC Video Operation Center
    %link{ href: 'https://c3voc.de/', rel:'canonical' }
    %link{ href: '//c3voc.de/eventkalender/events.atom', rel: 'alternate', title: 'Atom - c3voc events', type: 'application/atom+xml' }
    %link{ href: '//media.ccc.de/news.atom', rel: 'alternate', title: 'CCC TV - media.ccc.de', type: 'application/atom+xml' }

    %link{ href: 'css/bootstrap.css', rel: 'stylesheet'}
    %link{ href: 'css/bootstrap-theme.css', rel: 'stylesheet' }
    %link{ href: 'css/font-awesome.css', rel: 'stylesheet' }

    %link{ href: 'css/style.css', rel: 'stylesheet' }

  %body#top
    #toplink
      %a{ href: '#top'}

    %header
      = render '_menu'

    = yield

    %footer
      = render '_footer'


    %script{ src: 'js/jquery-1.11.2.min.js', type: 'text/javascript' }
    %script{ src: 'js/bootstrap.js', type: 'text/javascript' }
    %script{ src: 'js/jquery-hcaptions.js', type: 'text/javascript' }
    %script{ src: 'js/script.js', type: 'text/javascript' }
